!DOCTYPE <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="output.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <div class="flex justify-center items-center h-screen bg-#2D2540"></div>
        <div class="w-96 p-6 shadow-lg bg-#F2F2F2 rounded-md">
            <h1 class="text-3xl block text-center font-semibold text-#D94A4A"><i class="fa-solid fa-user"> </i>Login</h1>
            <hr class="mt-3">
            <div class="mt-3">
                <label for="email" class="block text-base mb-2">Email</label>
                <input type="email" id="email" class="border w-full text-base px-2 py-1 focus:outline-none focus:ring-0 focus:border-gray-600" placeholder="Digite seu Email...">
            </div>
        </div>
        <div class="mt-3">
            <label for="Senha" class="block text-base mb-2">Senha</label>
            <input type="password" id="password" class="border w-full text-base px-2 py-1 focus:outline-none focus:ring-0 focus:border-gray-600" placeholder="Digite sua Senha...">
        </div>
        <div class="mt-3 flex justify-between items-center">
            <div>
                <input type="checkbox" id="remember" class="mr-1">
                <label>Lembrar de mim</label>
            </div>
            <div>
                <a href="#" class="text-#D95970">Esqueceu sua senha?</a>
            </div>
            <div class="mt-5">
                <button type="submit" class="border-2 bg-#D95970 text-#F2F2F2 w-full py-1 rounded-md hover:bg-transparent hover:text-#F2F2F2 font-semibold">Login</button>
            </div>
        </div>
    </div>
</body>
</html>